body {
    background: url("../img/body_back.png") no-repeat center center fixed;
    background-size: cover;
}
a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0px;
}

.wrap {
    width: 1060px;
    margin: 0px auto;
}

header {
    display: flex;
    align-items: flex-end;
    padding-top: 40px;
}

header .h-box {
    flex: 1;
}

header .h-box p {
    margin-top: 4px;
}

header .logo {
    margin-top: 4px;
    display: inline-block;
    width: 170px;
    height: 45px;
    background: url("../img/logo.png") no-repeat bottom left;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
}

header .logo .logo-text-1 {
    position: absolute;
    left: 60px;
    top: 0px;
    font-size: 28px;
}

header .logo .logo-text-2 {
    position: absolute;
    left: 60px;
    bottom: 0px;
    font-size: 18px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .tour-i {
    /*flex: 3;*/
    margin-top: 40px;
    text-align: center;
}

section .tour-i .wrap-img {
    display: block;
    height: 200px;
    /*border: 2px solid #fff;*/
    overflow: hidden;
    -webkit-box-shadow: 0px 12px 24px 0px #000;
    box-shadow: 0px 12px 24px 0px #000;
    padding: 2px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff, #000);
    background-image: linear-gradient(to bottom, #fff, #000);
}

section .tour-i p {
    margin-top: 20px;
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 60px 0px 20px;
    font-size: 12px;
}