body {
    background: #000;
    color: goldenrod;
    height:100%;
    max-height:100%;
    font-family: verdana;
}
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.shadow {
    position: relative;
    width: 100%;
    min-height: 50vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.screen {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    perspective: 400px;
}

.animation-text {
    position: relative;
    top: 9999px;
    /*margin-top: 10000px;*/
    transform-origin: 50% 100%;
    transform: rotateX(30deg)  translateZ(0);
    animation: star-wars-animation 30s linear infinite;
}

.animation-text p {
    color: #feda4a;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
}

@keyframes star-wars-animation {
    0% {
        top: -100px;
        /*margin-top: 100px;*/
        transform: rotateX(30deg)  translateZ(0);
    }
    100% {
        top: -6000px;
        /*margin-top: -7000px;*/
        transform: rotateX(35deg) translateZ(-2500px);
    }
}