/* Global styles */
body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.page-layout {
    position: relative;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* Global styles */

/* Header styles */
header {
    background: #373c3f;
}
header .wrap {
    position: relative;
}
header .menu {
    margin: 0px;
    padding: 0px 30px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
header .menu li {
    margin-right: 30px;
    display: flex;
    align-items: center;
    height: 95px;
    position: relative;
}
header .menu li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
header .menu li a:hover,
header .menu li.active a {
    color: #444;
}
header .logo {
    position: absolute;
    top: 6px;
    right: 30px;
}


header .navigation-text {
    display: block;
    position: absolute;
    color: #fff;
    margin: 0px;
}
header .switcher {
    position: absolute;
    background-color: #202529;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    cursor: pointer;
}
/* Header styles */

/* Footer styles */
footer {
    color: #fff;
    background-color: #acd8ad;
}
footer .wrap {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    height: 55px;
}
footer .text {
    margin: 0;
}
footer .logo {
    display: none;
}
/* Footer styles */

/* Promo section */
.promo-section {
    background: url("../img/section_1_back.png") no-repeat center center;
    background-size: cover;
}
.promo-section .slogan,
.promo-section .web-url {
    margin: 0px;
    color: #fff;
}
.promo-section .web-url {
    color: #a6d6e0;
}
/* Promo section */

/* Hot menu section */
.hot-menu-section {
    margin-top: 7px;
}
.hot-menu-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.hot-menu-list li.i-pizza {
    background: url("../img/hot_menu_i_1.png") no-repeat center center;
    background-size: cover;
}
.hot-menu-list li.i-salads {
    background: url("../img/hot_menu_i_2.png") no-repeat center center;
    background-size: cover;
}
.hot-menu-list li.i-desserts {
    background: url("../img/hot_menu_i_3.png") no-repeat center center;
    background-size: cover;
}
.hot-menu-list li a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.hot-menu-list li .title {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
}
.hot-menu-list li .fas {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    background: #acd8ad;
}
/* Hot menu section */

/* Brand menu section */
.brand-menu-header {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;

}
.brand-menu-header .li-img {
    text-align: right;
}
.brand-menu-header .li-title h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.brand-menu-header .li-title p {
    color: #cbccce;
    margin: 10px 0px 0px;
}
/* Brand menu section */

/* Brand menu content */
.common-type-menu .title {
    margin: 0px;
    text-transform: uppercase;
    /*padding: 22px 30px;*/
    /*font-size: 40px;*/
    /*font-weight: normal;*/
}
.common-type-menu.dark .title {
    background-color: #3f4043;
    color: #acd8ad;
}
.common-type-menu.light .title {
    background-color: #acd8ad;
    color: #fff;
}

.common-type-menu .dishes-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.common-type-menu .dishes-list li {
    display: flex;
    flex-wrap: wrap;
}
.common-type-menu .dishes-list li .name {
    width: 80%;
    display: flex;
    align-items: center;
}
.common-type-menu .dishes-list li .price {
    width: 20%;
    text-align: right;
    font-weight: bold;
}
.common-type-menu .sub-title {
    /*font-size: 30px;*/
    /*margin: 20px 30px;*/
    /*padding: 10px 0px;*/
    text-transform: uppercase;
    font-weight: normal;

}
.common-type-menu .ic-1 {
    background: url("../img/icon_1.png") no-repeat center right;
    background-size: contain;
}
.common-type-menu .ic-2 {
    background: url("../img/icon_2.png") no-repeat center right;
    background-size: contain;
}
.common-type-menu .ic-3 {
    background: url("../img/icon_3.png") no-repeat center right;
    background-size: contain;
}
.common-type-menu .ic-4 {
    background: url("../img/icon_4.png") no-repeat center right;
    background-size: contain;
}
/* Brand menu content */

@media (max-width: 320px) {
    header {
        height: 36px;
    }
    header .navigation-text {
        top: 12px;
        left: 20px;
        font-size: 12px;
    }
    header .switcher {
        height: 36px;
        width: 40px;
    }
    header .menu, header .logo {
        display: none;
    }
    header .menu.menu-show {
        display: block;
    }
    header .menu.menu-hide {
        display: none;
    }
    header .menu {
        background: #fff;
        position: absolute;
        top: 36px;
        right: 0px;
        padding: 0px;
        width: 180px;
    }
    header .menu li {
        margin: 0px;
        border-bottom: 2px solid #f0f0f0;
        height: auto;
    }
    header .menu li a {
        font-size: 12px;
        text-transform: none;
        color: #444;
        height: 33px;
        display: flex;
        align-items: center;
        width: 100%;
        text-indent: 14px;
    }
    header .menu li a:hover {
        background: #f5f5f5;
    }


    footer .wrap {
        justify-content: center;
        text-align: center;
    }
    footer .text {
        font-size: 12px;
        line-height: 16px;
    }

    .promo-section {
        height: 175px;
    }
    .promo-section .wrap {
        padding: 16px 20px;
    }
    .promo-section .slogan {
        font-size: 16px;
        line-height: 24px;
    }
    .promo-section .web-url {
        font-size: 14px;
        line-height: 18px;
        color: #a6d6e0;
    }

    .hot-menu-section {
        margin-top: 4px;
    }
    .hot-menu-list li {
        margin-bottom: 2px;
    }
    .hot-menu-list li .title,
    .hot-menu-list li .fas {
        height: 75px;
        font-size: 20px;
    }

    .brand-menu-header li {
        width: 100%;
    }
    .brand-menu-header .li-img {
        display: none;
    }
    .brand-menu-header .li-title {
        padding: 15px 10px 10px;
    }
    .brand-menu-header .li-title h2 {
        font-size: 20px;
    }
    .brand-menu-header .li-title p {
        font-size: 10px;
    }

    .common-type-menu .title {
        padding: 12px 10px;
        font-size: 20px;
        font-weight: normal;
    }
    .common-type-menu .dishes-list {
        padding: 0px 10px;
    }
    .common-type-menu .dishes-list li {
        margin-bottom: 12px;
    }
    .common-type-menu .dishes-list li .name .fas {
        font-size: 4px;
        margin-right: 5px;
    }
    .common-type-menu .dishes-list li p {
        margin: 0px;
    }
    .common-type-menu .dishes-list li .desc {
        font-size: 9px;
        line-height: 12px;
        margin-top: 8px;
    }
    .common-type-menu .sub-title {
        font-size: 16px;
        margin: 10px 10px;
        padding: 10px 0px;
    }
}

@media (min-width: 321px) and (max-width: 640px) {
    header {
        height: 75px;
    }
    header .navigation-text {
        top: 25px;
        left: 40px;
        font-size: 24px;
    }
    header .switcher {
        height: 75px;
        width: 80px;
        font-size: 30px;
    }
    header .menu, header .logo {
        display: none;
    }
    header .menu.menu-show {
        display: block;
    }
    header .menu.menu-hide {
        display: none;
    }
    header .menu {
        background: #fff;
        position: absolute;
        top: 75px;
        right: 0px;
        padding: 0px;
        width: 240px;
    }
    header .menu li {
        margin: 0px;
        border-bottom: 2px solid #f0f0f0;
        height: auto;
    }
    header .menu li a {
        font-size: 14px;
        text-transform: none;
        color: #444;
        height: 45px;
        display: flex;
        align-items: center;
        width: 100%;
        text-indent: 30px;
    }
    header .menu li a:hover {
        background: #f5f5f5;
    }

    footer .wrap {
        height: 95px;
        justify-content: center;
        text-align: center;
    }
    footer .text {
        font-size: 18px;
        line-height: 24px;
    }

    .promo-section {
        height: 350px;
    }
    .promo-section .wrap {
        padding: 36px 40px;
    }
    .promo-section .slogan {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .promo-section .web-url {
        font-size: 24px;
        line-height: 28px;
    }

    .hot-menu-list li {
        margin-bottom: 4px;
    }
    .hot-menu-list li .title,
    .hot-menu-list li .fas {
        height: 150px;
        font-size: 36px;
    }

    .brand-menu-header li {
        width: 100%;
    }
    .brand-menu-header .li-img {
        display: none;
    }
    .brand-menu-header .li-title {
        padding: 15px 10px 10px;
    }
    .brand-menu-header .li-title h2 {
        font-size: 40px;
    }
    .brand-menu-header .li-title p {
        font-size: 20px;
    }

    .common-type-menu .title {
        padding: 12px 10px;
        font-size: 40px;
        font-weight: normal;
    }
    .common-type-menu .dishes-list {
        padding: 0px 10px;
    }
    .common-type-menu .dishes-list li {
        margin-bottom: 25px;
    }
    .common-type-menu .dishes-list li .name .fas {
        font-size: 4px;
        margin-right: 5px;
    }
    .common-type-menu .dishes-list li .name,
    .common-type-menu .dishes-list li .price {
        font-size: 27px;
    }
    .common-type-menu .dishes-list li .desc {
        font-size: 18px;
        line-height: 22px;
        margin-top: 15px;
    }
    .common-type-menu .dishes-list li p {
        margin: 0px;
    }
    .common-type-menu .sub-title {
        font-size: 30px;
        margin: 20px 10px;
        padding: 10px 0px;
    }
}



@media (min-width: 641px) {
    header {
        height: 95px;
    }
    header .navigation-text, header .switcher {
        display: none;
    }
    header .logo {
        display: inline-block;
    }

    header .menu {
        display: flex;
    }

    footer .wrap {
        height: 95px;
        justify-content: space-between;
    }
    footer .text br {
        display: none;
    }
    footer .logo {
        display: block;
        margin-left: 40px;
    }
    footer .text {
        margin-right: 40px;
        font-size: 18px;
        line-height: 24px;
    }

    .promo-section {
        height: 530px;
    }
    .promo-section .wrap {
        padding: 60px 30px;
    }
    .promo-section .slogan {
        font-size: 54px;
        line-height: 60px;
        margin-bottom: 50px;
    }
    .promo-section .web-url {
        font-size: 34px;
        line-height: 38px;
    }

    .hot-menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hot-menu-list li {
        width: 33.333%;
    }
    .hot-menu-list li .fas {
        display: none;
    }
    .hot-menu-list li .title {
        height: 325px;
        width: 100%;
        font-size: 38px;
    }

    .brand-menu-header {
        padding: 60px 30px 15px;
    }
    .brand-menu-header .li-title {
        width: 80%;
    }
    .brand-menu-header .li-img {
        width: 20%;
    }
    .brand-menu-header .li-title h2 {
        font-size: 40px;
    }
    .brand-menu-header .li-title p {
        font-size: 20px;
    }

    .brand-menu-content {
        display: flex;
    }
    .brand-menu-content .common-type-menu {
        width: 50%;
    }
    .common-type-menu .title {
        padding: 12px 30px;
        font-size: 36px;
        font-weight: normal;
        height: 64px;
        overflow: hidden;
        box-sizing: border-box;
        line-height: 40px;
    }
    .common-type-menu .dishes-list {
        padding: 0px 30px;
    }
    .common-type-menu .dishes-list li {
        margin-bottom: 25px;
    }
    .common-type-menu .dishes-list li .name .fas {
        font-size: 4px;
        margin-right: 5px;
    }
    .common-type-menu .dishes-list li .name,
    .common-type-menu .dishes-list li .price {
        font-size: 27px;
    }
    .common-type-menu .dishes-list li .desc {
        font-size: 18px;
        line-height: 22px;
        margin-top: 15px;
    }
    .common-type-menu .dishes-list li p {
        margin: 0px;
    }
    .common-type-menu .sub-title {
        font-size: 26px;
        margin: 30px;
        padding: 10px 0px;
    }
}

@media (min-width: 1200px) {
    header .menu {
        padding: 0px 40px;
    }
    header .logo {
        right: 40px;
    }

    .promo-section {
        height: 645px;
    }
    .promo-section .wrap {
        padding: 60px 40px;
    }
    .promo-section .slogan {
        font-size: 62px;
        line-height: 66px;
        margin-bottom: 50px;
    }
    .promo-section .web-url {
        font-size: 38px;
        line-height: 40px;
    }

    .hot-menu-list li .title {
        height: 400px;
        font-size: 43px;
    }
    .common-type-menu .sub-title {
        font-size: 30px;
        margin: 30px;
        padding: 10px 0px;
    }

}

/*@media (min-width: 641px) and (max-width: 980px) {*/

/*}*/









