body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 17px;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px 0;
}

p {
    margin: 0;
    padding: 20px 0;
    line-height: 22px;
}

a {
    color: #f1ad1d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.color-yellow {
    color: #f1ad1d;
}

.color-white {
    color: #fff;
}

.common-section .wrap {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 370px;
}

.common-section .gag {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 20px auto;
}

.common-section .gag-2 {
    width: 285px;
    height: 3px;
    background-color: #fff;
    margin: 20px auto;
}

.common-section .title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.parallax-effect-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-section-1 {
    background-image: url("../img/bg1.jpg");
}

.back-section-2 {
    background-image: url("../img/bg2.jpg");
}

.back-section-3 {
    background-image: url("../img/bg3.jpg");
}

.back-section-4 {
    background-image: url("../img/bg4.jpg");
}

.back-section-1 .wrap {
    min-height: 100vh;
}

.back-section-3 .wrap, .back-section-4 .wrap {
    min-height: 475px;
}

.featured-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.featured-box img {
    margin: 0px 25px;
}

.first-section {
    color: #fff;
}

.first-section .wrap {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.first-section .brand-name {
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
    margin: 0px;
    padding: 0px;
}

.first-section .brand-name-desc {
    text-shadow: 1px 1px 3px #000;
    margin: 16px 0px 30px;
    padding: 0px;
}

.first-section .brand-slogan {
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 54px;
    padding: 0px;
    margin-bottom: 145px;
}

.first-section .brand-slogan span {
    display: inline-block;
    padding: 40px;
}

.first-section .brand-slogan .w {
    background-color: #fff;
    color: #f1ad1d;
}

.first-section .brand-slogan .b {
    background-color: rgba(0, 0, 0, 0.3);
    /*opacity: 0.3;*/
}

