.tac {
    text-align: center;
}

.wrap {
    width: 614px;
    margin: 0px auto;
    border: 14px solid #3e3e3e;
}
.wrap table {
    width: 100%;
}
.wrap table td {
    border: 4px solid #3e3e3e;
    height: 64px;
    width: 64px;
}
.wrap table td.h2x {
    height: 128px;
}

#btn-change-theme {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0080b9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px 0px 20px;
}

#btn-change-theme:hover {
    background-color: #015479;
}

#btn-change-theme:active {
    background-color: #015479;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.blue-color {
    background-color: #0080b9;
}

.yellow-color {
    background-color: #fae24e;
}

.red-color {
    background-color: #fb001d;
}

.black-color {
    background-color: #000;
}

.white-color {
    background-color: #fff;
}


/*Dark Theme */

body.dark-theme {
    background-color: #eee;
}

body.dark-theme .blue-color {
    background-color: #015479;
}

body.dark-theme .yellow-color {
    background-color: #bfa60d;
}

body.dark-theme .red-color {
    background-color: #7d0312;
}

body.dark-theme .black-color {
    background-color: #666;
}

body.dark-theme .white-color {
    background-color: #ccc;
}

body.dark-theme #btn-change-theme {
    background-color: #015479;
}

body.dark-theme #btn-change-theme:hover {
    background-color: #013a53;
}


.wrap {
    border-color: #000;
}

.wrap table td {
    border-color: #000;
}